
# Exercise 1: List Creation using two lists

Write a code to create a new list using odd-indexed elements from the first list and even-indexed elements from the second

Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

**Given:**

l1 = [3, 6, 9, 12, 15, 18, 21]\
l2 = [4, 8, 12, 16, 20, 24, 28]

**Expected Output:**

Element at odd-index positions from list one
[6, 12, 18]\
Element at even-index positions from list two
[4, 12, 20, 28]

Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [3]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

oddL1 = []
evenL2 = []

for i in range(len(l1)):
    if i % 2 != 0:
        oddL1.append(l1[i])

for i in range(len(l2)):
    if i % 2 == 0:
        evenL2.append(l2[i])

l3 = oddL1 + evenL2
l3

[6, 12, 18, 4, 12, 20, 28]


# Exercise 2: Remove and add item in a list

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

**Given:**

list1 = [54, 44, 27, 79, 91, 41]

**Expected Output:**

List After removing element at index 4  [34, 54, 67, 89, 43, 94]\
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]\
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [5]:
list1 = [54, 44, 27, 79, 91, 41]

el = list1.pop(4)
list1.insert(2, el)
list1.append(el)

list1

[54, 44, 91, 27, 79, 41, 91]


# Exercise 3: Slice list into 3 equal chunks and reverse each chunk

**Given:**

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

**Expected Outcome:**

Chunk  1 [11, 45, 8]\
After reversing it  [8, 45, 11]

Chunk  2 [23, 14, 12]\
After reversing it  [12, 14, 23]

Chunk  3 [78, 45, 89]\
After reversing it  [89, 45, 78]

In [15]:
l1 = [11, 45, 8, 23, 14, 12, 78, 45, 89]

div = len(l1) // 3

c1 = l1[:div]
c2 = l1[div : div+div]
c3 = l1[div+div :]

print(f"Chunk 1: {c1}")
c1.reverse()
print(f"After reversing it: {c1}\n")

print(f"Chunk 2: {c2}")
c2.reverse()
print(f"After reversing it: {c2}\n")

print(f"Chunk 3: {c3}")
c3.reverse()
print(f"After reversing it: {c3}")

Chunk 1: [11, 45, 8]
After reversing it: [8, 45, 11]

Chunk 2: [23, 14, 12]
After reversing it: [12, 14, 23]

Chunk 3: [78, 45, 89]
After reversing it: [89, 45, 78]


# Exercise 4: Count the occurrence of each element from a list

Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

**Given:**

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

**Expected Output:**

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [16]:
l1 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
element_Dict = {}

for key in l1:
    element_Dict[key] = element_Dict.get(key, 0) + 1

element_Dict

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}


# Exercise 5: Paired Elements from Two Lists as a Set

Write a code to create a Python set such that it shows the element from both lists in a pair.

**Given:**

first_list = [2, 3, 4, 5, 6, 7, 8]\
second_list = [4, 9, 16, 25, 36, 49, 64]

**Expected Output:**

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [26]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

res = zip(first_list, second_list)
print(set(res))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}


# Exercise 6: Set Intersection and Removal

Write a code to find the intersection (common) of two sets and remove those elements from the first set.

See: Python Set

**Given:**

first_set = {23, 42, 65, 57, 78, 83, 29}\
second_set = {57, 83, 29, 67, 73, 43, 48}

**Expected Output:**

Intersection is  {57, 83, 29}\
First Set after removing common element  {65, 42, 78, 23}

In [30]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

intersection = first_set.intersection(second_set)
print(f"Intersection is: {intersection}")

first_set = first_set.difference(intersection)
print(f"First Set after removing common element: {first_set}")

Intersection is: {57, 83, 29}
First Set after removing common element: {65, 42, 78, 23}


# Exercise 8: Filter List Against Dictionary Values

Write a program to iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

**Given:**

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]\
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

**Expected Outcome:**

After removing unwanted elements from list [47, 69, 76, 97]

In [33]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

new_rollNumber = []
for item in roll_number:
    if item in sample_dict.values():
        new_rollNumber.append(item)

new_rollNumber

[47, 69, 76, 97]

# Exercise 9: Extract Unique Dictionary Values to List

Write a code to get all values from the dictionary and add them to a list but don’t add duplicates

**Given:**

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

**Expected Outcome:**

[47, 52, 44, 53, 54]

In [36]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

unique_values = []

for value in speed.values():
    if unique_values.count(value) < 1:
        unique_values.append(value)

unique_values

[47, 52, 44, 53, 54]


# Exercise 10: remove duplicates from a list

Write a code to remove duplicates from a list and create a tuple and find the minimum and maximum number

**Given:**

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

**Expected Outcome:**

unique items [87, 45, 41, 65, 99]\
tuple (87, 45, 41, 65, 99)\
min: 41\
max: 99

In [39]:
list1 = [87, 45, 41, 65, 94, 41, 99, 94]

set1 = set(list1)
print(f"Unique items: {list(set1)}")

tuple1= tuple(set1)
print(f"Tuple: {tuple1}")

print(f"Min: {min(tuple1)}")
print(f"Max: {max(tuple1)}")

Unique items: [65, 99, 41, 45, 87, 94]
Tuple: (65, 99, 41, 45, 87, 94)
Min: 41
Max: 99