
# Exercise 2: Create a function with variable length of arguments

Write a program to create a function func1() that accepts a variable number of arguments and prints each of their values.

**Note:** Create this function so that it can receive any number of arguments, process them, and display the value of each individual argument.

In [2]:
def func1(*args):
    print("Printing Values:")
    for i in range(len(args)):
        print(args[i])

In [3]:
func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100


# Exercise 3: Return multiple values from a function

Write a function calculation() that accepts two variables and calculates both their addition and subtraction. The function should then return both the sum and the difference in a single return statement.

In [4]:
def calculation(num1, num2):
    sum = num1 + num2
    diff = num1 - num2
    return sum, diff

In [7]:
calculation(40, 10)

(50, 30)


# Exercise 5: Create an inner function

Create a program with nested functions to perform an addition calculation as follows:

    1.Define an outer function that accepts two parameters, a and b.
    2.Inside this outer function, define an inner function that calculates the sum of a and b.
    3.The outer function should then add 5 to this sum.
    4.Finally, the outer function should return the resulting value.‚Äù

In [8]:

def outer(a, b):
    def inner():
        return a + b
    res = inner() + 5
    return res

In [9]:
outer(5, 5)

15


# Exercise 6: Create a recursive function

Write a program to create a recursive function that calculates the sum of numbers from 0 to 10.

A recursive function is a function that calls itself repeatedly.

In [10]:
def sum(n):
    if(n == 0):
        return 0
    return n + sum(n-1)

In [11]:
sum(10)

55


# Exercise 7: Assign a different name to function and call it through the new name

Below is the function display_student(name, age). Assign a new name show_student(name, age) to it and call it using the new name.

Given:

    def display_student(name, age):
        print(name, age)

    display_student("Emma", 26)

You should be able to call the same function using

    show_student(name, age)

In [13]:
def display_student(name, age):
    print(name, age)

show_student = display_student

show_student("Emma", 26)

Emma 26


# Exercise 10: Call Function using both positional and keyword arguments

Define a function describe_pet(animal_type, pet_name) that prints a description of a pet. Call this function using both positional and keyword arguments.

In [15]:
def describe_pet(animal_type, pet_name):
    print(f"I have a {animal_type} whose name is {pet_name}")

describe_pet("Dog", "Milo")
describe_pet(pet_name="Mr Whiskers", animal_type="Cat",)

I have a Dog whose name is Milo
I have a Cat whose name is Mr Whiskers


# Exercise 12: Modifies global variable

Define a global variable global_var = 10. Write a function that modifies a global variable value.

In [26]:
global_var = 10
print(f"Before function call: {global_var}")

def func():
    global global_var 
    global_var = 5

func()
print(f"After function call: {global_var}")

Before function call: 10
After function call: 5


# Exercise 13: Write a recursive function to calculate the factorial

Write a recursive function to calculate the factorial of a non-negative integer.

In [28]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

factorial(5)

120


# Exercise 14: Create a lambda function that squares a given number

A lambda function in Python is a small anonymous function defined using the lambda keyword. The syntax is lambda arguments: expression. The expression is evaluated and returned.

In [29]:
x = lambda a, b : a+b

x(5,5)

10


# Exercise 15: Use a lambda with the filter() function to get all even numbers from a list

In [35]:
def filter_even(numList):
    return list(filter(lambda num : num % 2 == 0, numList))

print(filter_even([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[2, 4, 6, 8, 10]


# Exercise 16: Use a lambda with the map() function to double each element in a list

In [36]:
def doubleNums(numList):
    return list(map(lambda num : num * 2, numList))

print(doubleNums([1,2,3,4,5]))

[2, 4, 6, 8, 10]


# Exercise 17: Use a lambda with the sorted() function to sort a list of tuples based on the second element

Given:

data = [('apple', 5), ('banana', 2), ('cherry', 8), ('date', 1)]
Expected Output:

The sorted list of tuples based on the second element is: [('date', 1), ('banana', 2), ('apple', 5), ('cherry', 8)]

In [37]:
def sortBySecondEl(data):
    return list(sorted(data, key=lambda el : el[1]))

data = [('apple', 5), ('banana', 2), ('cherry', 8), ('date', 1)]
sortBySecondEl(data)

[('date', 1), ('banana', 2), ('apple', 5), ('cherry', 8)]


# Exercise 18: Create Higher-Order Function

Write a function apply_operation(func, x, y) that takes a function func and two numbers x and y as arguments, and returns the result of calling func(x, y). Demonstrate its use with different functions (e.g., addition, subtraction).

The exercise requires you to create a higher-order function, which is a function that can take other functions as arguments.

In [38]:
def apply_operation(func, x, y):
    return func(x,y)

def add(x,y):
    return x + y

apply_operation(add, 2, 3)

5